.articleList-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 1.5rem;
  color: #fff;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
