.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 0.5rem solid #ececec;
    border-bottom: 0.5rem solid #ececec;
    height: 100%;
    width: 100%;
}

.header-title {
    margin: 0px;
    font-family: 'ChomskyRegular', serif;
    color: white;
    font-style: italic;
    color: white;
}

.nyt-logo {
    height: 5rem;
    margin-right: 85rem;
    margin-bottom: 3vh;
    margin-top: 1vh;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
}