@import '../../sassStyles/_variables.scss'

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.app-container {
    max-width: $container-max-width;
    overflow-x: auto;
    position: relative;
}