html,
body {
  max-width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  background-color: #d9cab8;
}

body {
  font-family: "Noticia Text, sans-serif";
  background: none;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.app-container {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}
