@import '../../../src/sassStyles/variables';
@import '../../../src/sassStyles/typography';
@import '../../../src/sassStyles/animations';

.section-about {
    padding: 20rem 0;
    margin-top: -20vh;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 4rem;
}

.about-title {
    text-align: center;
    font-size: $font-size-extra-large;
    margin-top: -8rem;
}

.heading-secondary {
    font-size: $font-size-large;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #d937f0, #a904bf);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    margin-top: -3rem;

    @include hover-animation;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.about-paragraph {
    font-size: $font-size-large;
    padding-left: 2rem;
}

.about-paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.composition {
    position: relative;
}

.composition-photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;

    @include hover-animation;
}

.composition-photo-p1 {
    left: -2;
    top: -2rem;
}

.composition-photo-p2 {
    right: 30%;
    top: 2rem;
}

.composition-photo-p3 {
    left: 20%;
    top: 10rem;
}

.composition-photo:hover {
    outline: 1rem solid #3f3d73;
    transform: scale(1.05) translateY(-0.05rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 8rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}