.header-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-decoration: none;
  border-top: 0.5rem solid #ececec;
  border-bottom: 0.5rem solid #ececec;
  height: 100%;
  width: 100%;
}

.header-title {
  text-align: center;
  font-size: 3rem;
  margin-right: 2%;
  font-family: "Noticia Text, sans-serif";
  color: #fff;
}

.nyt-logo {
  height: 6rem;
}
