.header-container {
  background-color: #f2790f;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-title {
  text-transform: uppercase;
  font-family: "Noticia Text, sans-serif";
  color: #000;
  margin: 0;
  flex: 1;
}

.nyt-logo {
  height: 4rem;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.video-container {
  text-align: center;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}

.background-video {
  width: 80%;
  height: auto;
}
