@import '../../../src/sassStyles/variables';

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    font-size: $font-size-medium;
    background-color: $nav-background-color;

    >a {
        padding: 10px 1.7%;
        text-decoration: none;
        color: $tertiary-font-color;

        &.active {
            background-color: $selected-tab-background-color;
        }
    }
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}