@import './variables';
@import './animations';

h1 {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

p {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
p {
    font-family: $font-family;
    line-height: 1.5;
}

nav {
    display: flex;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.about-title {
    @media only screen and (max-width: $bp-small) {
        font-size: $font-size-large;
    }
}

.heading-secondary {
    @media only screen and (max-width: $bp-smallest) {
        font-size: $font-size-small;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: $font-size-medium;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: $font-size-medium;
    }
}

.about-paragraph {
    @media only screen and (max-width: $bp-smallest) {
        font-size: $font-size-small;
        padding-left: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: $font-size-small;
        padding-left: 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: $font-size-medium;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: $bp-medium) {
    .composition {
        display: block;
        align-items: center;
    }

    .composition-photo {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
        outline-offset: 1rem;

        @include hover-animation;
    }

    .composition-photo:hover {
        outline: none;
        transform: scale(1.05) translateY(-0.05rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20;
    }


    .composition-photo-p1,
    .composition-photo-p2,
    .composition-photo-p3 {
        position: static;
    }
}

@media only screen and (max-width: $bp-small) {
    .composition {
        display: block;
        align-items: center;
    }

    .composition-photo,
    .composition-photo-p1 {
        box-sizing: border-box;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
        outline-offset: 1rem;
        width: 30%;

        @include hover-animation;
    }

    .composition-photo:hover {
        transform: scale(1.05) translateY(-0.05rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20;
    }

    .composition-photo-p1,
    .composition-photo-p2,
    .composition-photo-p3 {
        position: static;
    }
}