// Colors
$background-color: #d9cab8;
$article-background-color: #404040;
$header-background-color: #f2790f;
$nav-background-color: #fff;
$primary-font-color: #fff;
$secondary-font-color: #000;

// Font
$font-family: "Noticia Text, sans-serif";
$font-size-extra-large: 2rem;
$font-size-large: 1.6rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;

// Screen sizes 
$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;