@import '../../../src/sassStyles/variables';
@import '../../../src/sassStyles/typography';

.article-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    position: relative;
}

.article-not-found {
    color: $secondary-font-color;
}

.large-img {
    width: 75vw;
    max-width: 800px;
    border-radius: 3px;
}

.back-arrow-container {
    display: flex;
    align-items: flex-start;
}

.back-arrow {
    cursor: pointer;
    align-self: flex-start;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.details-caption {
    font-size: $font-size-small;
}

.details-title {
    font-size: $font-size-extra-large;
}

.details-byline {
    font-size: $font-size-large;
}

.details-abstract {
    font-size: $font-size-medium;
}

.link-details {
    font-size: $font-size-medium;
}